# Python-related

.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyz
*.pyzw
*.pyc

# Flask-related
venv/
instance/
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/
*.egg-info/
.idea/
.vscode/
*.log

# Miscellaneous
*.bak
*.swp
*.tmp
*.DS_Store
